name: i386 GTK4 Build
on: [push, workflow_dispatch] # workflow_dispatch lets you click a button to start it

permissions:
  contents: write

jobs:
  cross-build:
    runs-on: ubuntu-latest # Use the latest Ubuntu runner
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive # Important: gets all subprojects

      - name: Restore Cache (ccache & subprojects)
        uses: actions/cache/restore@v4
        with:
          path: |
            subprojects
            ~/.cache/ccache
          key: ${{ runner.os }}-gtk-i386-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-gtk-i386-

      - name: Install Cross-Compilers & Dependencies
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install -y gcc-i686-linux-gnu g++-i686-linux-gnu \
                                 libc6-dev-i386-cross \
                                 ninja-build pkg-config ccache \
                                 python3-pip gettext flex bison gperf \
                                 libxml2-utils python3-jinja2 python3-mako \
                                 zlib1g-dev:i386
          sudo pip3 install meson --break-system-packages

      - name: Create i386 Cross File
        run: |
          cat <<EOF > i386-cross.txt
          [binaries]
          c = 'i686-linux-gnu-gcc'
          cpp = 'i686-linux-gnu-g++'
          ar = 'i686-linux-gnu-ar'
          strip = 'i686-linux-gnu-strip'
          pkgconfig = 'pkg-config'
          
          [properties]
          sizeof_int = 4
          sizeof_wchar_t = 4
          sizeof_void* = 4
          alignment_char = 1
          alignment_void* = 4
          alignment_double = 4
          
          [host_machine]
          system = 'linux'
          cpu_family = 'x86'
          cpu = 'i686'
          endian = 'little'
          
          [built-in options]
          c_args = ['-m32']
          cpp_args = ['-m32']
          c_link_args = ['-m32']
          cpp_link_args = ['-m32']
          EOF

      - name: Kill Recursive Wraps
        # This prevents Meson from even trying to download the loops
        run: |
          rm -f subprojects/gobject-introspection.wrap
          rm -f subprojects/sysprof.wrap

      - name: Meson Setup
        run: |
          meson setup build-i386 \
            --cross-file i386-cross.txt \
            --wrap-mode=forcefallback \
            --force-fallback-for=glib,pango,cairo,gdk-pixbuf,graphene \
            -Dprefix=/tmp/gtk-install \
            -Dintrospection=disabled \
            -Dsysprof=disabled \
            -Dglib:introspection=disabled \
            -Dglib:sysprof=disabled \
            -Dglib:libmount=disabled \
            -Dbuild-examples=false \
            -Dbuild-demos=false \
            -Dbuild-tests=false \
            -Dx11-backend=false \
            -Dwayland-backend=false \
            -Dglib:libmount=disabled

      - name: Meson Compile
        run: ninja -C build-i386 -j$(nproc)

      - name: Meson Install
        run: ninja install -C build-i386

      - name: Upload Binaries
        uses: actions/upload-artifact@v4
        with:
          name: gtk4-i386-static
          path: /tmp/gtk-install/ # This is what you'll download

      - name: Save Cache (Always)
        uses: actions/cache/save@v4
        if: always() # This is the magic line
        with:
          path: |
            subprojects
            ~/.cache/ccache
          key: ${{ runner.os }}-gtk-i386-${{ github.run_id }}
